/* Bigger slide numbers*/
.reveal .slide-number {
    font-size: 12pt;
}

/* The "TO DO" class */
.todo {
    color: crimson;
    font-family: monospace !important;
}
.todo::before {
    content: '// TODO ';
}

/* Table with no border */
table.custom td {
    text-align: center;
    border-bottom: 0;
}

.reveal pre code {
    font-size: 25px;
}